/*Форма регистрации*/
.contentMain {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 100px;
    padding-top: 100px;
    margin-bottom: 100px;
}
.formRegister {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formRegister > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
label {
    color: #F5F5F7;
}
#nameField, #emailField, #passwordField,#passwordField2 {
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    background-color: #BF9CFF;
}

#nameField:focus, #emailField:focus, #passwordField:focus,#passwordField2:focus {
    background-color: #6D5898;
}

#nameField::placeholder, #emailField::placeholder,
#passwordField::placeholder,#passwordField2::placeholder {
    color: #F5F5F7;
}
.userAgreement {
    display: flex;
    gap: 5px;
    align-items: center;
}
#agreeTerms {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #BF9CFF;
    border: 1px solid #000000;
}
.linkAuthorizationContainer, .linkRegisterContainer {
    display: flex;
    gap: 5px;
    align-items: center;
}

.linkUserAgreement, .linkRegister, .linkAuthorization  {
    color: #BF9CFF;
}

#agreeTerms:checked {
    background-color: #9f53e6;
}
#agreeTerms:checked:after {
    content: "✓";
    position: relative;
    bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3f3f5;
}
#submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #BF9CFF;
    color: #F5F5F5;
    border: none;
    border-radius: 5px;
}
#submitButton:hover {
    background-color: #6D5898;
}
#submitButton:active {
    background-color: #5825B5;
}
.formAuthorization {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formAuthorization > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@media (max-width: 425px) {
    .contentMain {
        margin-left: 0;
    }
    .userAgreement {
        font-size: 0.7rem;
    }
}