@import "../Общие стили страниц/header.css";
@import "../Общие стили страниц/footer.css";
@import "../Общие стили страниц/musicBar.css";
@import "../Шрифты/fonts.css";
@import "../Форма авторизации и регистрации/main.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
}
p {
    color: white;
}
.wrapper {
    width: 95%;
    max-width: 1640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
body {
    font-family: Inter, serif;
}
.bodyIndex {
    background-color: #3F3F40;
}