.footerContent {
    background-color: #A67BF5;
    margin-left: 100px;
    margin-bottom: 146px;
}
.aboutUs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.aboutUsLinks {
    display: flex;
    gap: 30px;
}
.aboutUsLinks > a {
    font-size: 20px;
    color: #F5F5F7;
}
.paragraphFooter {
    font-size: 18px;
}
@media (max-width: 600px) {
    .footerContent {
        margin: 0;
    }
}