.iconHome {
    font-size: 40pt;
    color: #F5F5F7;
}

.generalMenu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    width: 100px;
    background-color: #bf9cff;
    position: fixed;
    flex-wrap: wrap;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 1000;
}

.generalMenu > nav {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    gap: 50px;
    vertical-align: center;
}

.iconNav {
    width: 2rem;
}

.iconNav:hover {
    color: #F5F5F7;
}

.userProfile > img {
    width: 100px;
    height: 100px;
}

/*Адаптивность для мобильных устройств*/
@media (max-width: 600px) {
    .generalMenu {
        width: 100%;
        height: 100px;
        min-height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .generalMenu > nav {
        flex-direction: row;
        flex-basis: auto;
        justify-content: space-around;
        gap: 20px;
    }
    .iconHome {
        font-size: 3rem;
    }

    .iconNav {
        width: 1.5rem;
    }
    .userProfile > img {
        width: 5.5rem;
        height: 5.5rem;
    }
}