.audioPlayer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #BF9CFFFF;
    z-index: 9;
    margin: 0 0 auto 100px;
    display: flex;
    flex-direction:column;
    align-content:center;
    flex-wrap: wrap;
}
.nameAndTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 99%;
    width: 100%;
}
.nameTrack {
    font-size: 2rem;
    color: #F5F5F7;
}


#audio-player-element {
    display: none;
}


.progressContainer {
    width: 100%;
    height: 6px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    margin: 5px 0;
    position: relative;
    cursor: pointer;
    max-width: 95%;
}

.progressBarContainer {
    width: 99%;
    display: flex;
    align-items: center;
    margin: 10px auto;
}
#progressBar {
    max-width: 100%;
    width: 100%;
}


.controlsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}

.controls {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(241, 241, 255, 0.5);
    padding: 1rem;
    border-radius: 2rem;
}
.buttonsControl {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonsControl:hover {
    background: #F5F5F7;
    border-radius: 50%;
}

.control-btn {
    background: rgba(255, 255, 255, 0);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-pause {
    width: 50px;
    height: 50px;
    font-size: 22px;
}



.volume-icon {
    font-size: 20px;
    background: transparent;
    width: auto;
    box-shadow: none;
}

@media (max-width: 768px) {
    .controlsContainer {
        justify-content: space-between;
        gap: 20px;
    }
    .controlsContainer button {
        width: 25px;
        height: 25px;
    }
    .progressContainer {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .audioPlayer {
        padding: 20px;
        max-width: 100%;
        width: 100%;
        margin: 0;
    }
    .buttonsControl {
        width: 24px;
        height: 24px;
    }
    .nameTrack {
        font-size: 1.5rem;
    }
    .time {
        font-size: 0.7rem;
    }
    .controls {
        gap: 10px;
        padding: 0;
    }

    .control-btn {
        width: 24px;
        height: 24px;
        font-size: 14px;
    }
    .control-btn > img {
        width: 20px;
        height: 20px;
    }
    .play-pause {
        width: 23px;
        height: 23px;
        font-size: 1.5rem;
    }
}