.contentMain {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 100px;
    padding-top: 100px;
    margin-bottom: 100px;
}
h2 {
    color: #F5F5F7;
    font-size: 2rem;
}
.compositor {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.cardCompositor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.imgCompositor {
    max-width: 600px;
    min-width: 100px;
    height: auto;
}
.compositorInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lastRealizes > p {
    font-size: 1.5rem;
}

.playButton {
    outline: none;
    background-color: #BF9CFF;
    color: #F5F5F7;
    border: none;
    border-radius: 20px;
    font-size: 2.5rem;
    padding: 20px 60px;
}
.playButton:hover {
    background-color: #7257a1;
}

.popularTracks {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.gapTrack {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.cardTrackRow {
    display: flex;
    justify-content: space-between;
}
.cardTrackLeft {
    display: flex;
    gap: 30px;
}
.cardTrackParagraph {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.settingsRow {
    display: flex;
    gap: 30px;
    align-items: center;
}
.settingsIcon {
    width: 30px;
}

.popularProjects {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cardTracks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.track {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.track > img {
    max-width: 350px;
    height: auto;
    min-width: 150px;

}
@media (max-width: 425px) {
    .contentMain {
        margin-left: 0;
    }
    .cardCompositor {
        justify-content: center;
    }
    .cardTracks {
        justify-content: center;
        gap: 10px;
    }
    .lastRealizes > p {
        font-size: 1rem;
    }
    .playButton {
        padding: 10px 30px;
        font-size: 1rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .track > p {
        font-size: 0.9rem;
    }
}
@media (max-width: 320px) {
    .imgPlaylist {
        width: 150px;
    }
    .time {
        font-size: 0.7rem;
    }
    .settingsRow {
        gap: 1rem;
    }
    .settingsIcon{
        width:1rem;
        height: 1rem;
    }
    .cardTrackParagraph >p:first-child {
        font-size: 1rem;
    }
    .cardTrackParagraph > p:last-child {
        font-size: 0.7rem;
    }
    .imgAlbum {
        width: 50px;
        height: 50px;
    }
}