/*Секция 1*/
.descriptionPlaylistSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.imgPlaylist {
    width: 350px;
}
.contentMain  h2,
.contentMain  p
{
    color: #F5F5F7;
}
.descriptionPlaylist {
    display: flex;
    justify-content: space-between;
align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;

}
.backgroundPlaylistText {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap:25px;
    justify-content: center;
    border-radius: 5px;

}
.backgroundPlaylistText > p {
    font-size: 1.25rem;
}
/*Секция 2*/
.buttonPlaylist {
    outline: none;
    background-color: #BF9CFF;
    color: #F5F5F7;
    border: none;
    border-radius: 20px;
    font-size: 2.5rem;
    padding: 20px 60px;
}
.buttonPlaylist:hover {
    background-color: #7257a1;
}
.similarPlaylist {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.imgSimilarPlaylist {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

@media (max-width: 1440px) {
    .imgSimilarPlaylist > img {
        width: 250px;
    }

}
@media (max-width: 1024px) {
    .imgSimilarPlaylist > img {
        width: 150px;
    }
}
@media (max-width: 425px) {
    .contentMain {
        margin: 0;
    }
    .imgPlaylist {
        width: 250px;
    }
    .backgroundPlaylistText > p {
        font-size: 0.9rem;
    }
    .buttonPlaylist {
        padding: 10px 30px;
        font-size: 1rem;
    }
    .imgAlbum {
        width: 50px;
        height: 50px;
    }
    .cardTrackRow {
        gap: 10px;
    }
    .cardTrackParagraph > p:first-child {
        font-size: 0.9rem;
    }
    .cardTrackParagraph > p:last-child {
        font-size: 0.7rem;
    }
    .settingsIcon {
        width: 0.9rem;
    }
    .time {
        font-size: 0.9rem;
    }
    .imgSimilarPlaylist > img {
        width: 120px;
    }

}
