/*Секция 1*/
.contentMain {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 100px;
    padding-top: 70px;
}
.newRealiseGame {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cardsGame {
    display: flex;
    overflow: auto;

    justify-content: space-between;
}
.contentMain  h2 {
    font-size: 40px;
}
.contentMain  h2,
.contentMain  p
{
    color: #F5F5F7;
}
.cardGame > p {
    padding: 25px 10px;
    border-radius: 20px;
    background-color: rgb(166, 123, 245);
    z-index: 1;
    position: relative;
    bottom: 50px;
    text-align: center;
    font-size: 25px;
}
/*Секция 2*/
.popularPlaylist {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cardPlaylist {
    display: flex;
    overflow: auto;
    justify-content: space-between;
}
/*Секция 3*/
.authorMusic {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cardAuthor {
    display: flex;
    overflow: auto;
    justify-content: space-between;
}
/*Секция 4*/
.trekLists {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.trekListRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.trekList {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.cardTrack {
    display: flex;
    align-items: center;
    gap: 50px;
}
.descriptionTrack {
    display: flex;
    flex-direction: column;
    gap:10px
}
.descriptionTrack >p:first-child {
    font-size: 18px;
}
.descriptionTrack > p:last-child {
    font-size: 14px;
}

@media (max-width: 600px) {
    .trekListRow,
    .trekList {
        flex-direction: column;
        gap: 10px;
    }
    .contentMain {
        margin: 100px 0 0 0;
    }
    .cardsGame {
        gap: 10px;
    }

}
