@import "../Общие стили страниц/header.css";
@import "main.css";
@import "../Общие стили страниц/footer.css";
@import "../Общие стили страниц/musicBar.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
p {
    color: white;
}
.wrapper {
    width: 95%;
    max-width: 1640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}