.contentMain {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 100px;
    padding-top: 70px;
    margin-bottom: 100px;
}
/*Секция 1*/
.descriptionPlaylistSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.contentMain  h2,
.contentMain  p
{
    color: #F5F5F7;
}
.descriptionPlaylist {
    display: flex;
    justify-content: space-between;
}
.backgroundPlaylistText {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    gap:25px;

    padding: 50px 60px;
    justify-content: center;
    border-radius: 5px;

}
.backgroundPlaylistText > p {
    font-size: 1.25rem;
}
/*Секция 2*/
.buttonPlaylist {
    outline: none;
    background-color: #BF9CFF;
    color: #F5F5F7;
    border: none;
    border-radius: 20px;
    font-size: 2.5rem;
    padding: 20px 60px;
}
.buttonPlaylist:hover {
    background-color: #7257a1;
}
/*Секция 3*/
.trackPlaylist {
    display: flex;
    flex-direction: column;
    gap:80px;
}
.gapTrack {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.cardTrackRow {
    display: flex;
    justify-content: space-between;

}
.cardTrackLeft {
    display: flex;
    gap: 30px;

}
.cardTrackParagraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.cardTrackParagraph >p:first-child {
    font-size: 1.3rem;
}
.cardTrackParagraph > p:last-child {
    font-size: 1rem;
}
.settingsRow {
    display: flex;
    gap:30px;
    align-items: center;
}
.settingsIcon {
    width: 30px;
    height: 30px;
}
/*@media (max-width: 1440px) {*/
/*    .imgPlaylist {*/
/*        width: 450px;*/
/*        height: 450px;*/
/*    }*/
/*    .backgroundPlaylistText {*/
/*        height: 450px;*/
/*    }*/
/*    .backgroundPlaylistText > p {*/
/*        font-size: 0.8rem;*/
/*        width: 450px;*/
/*        height: 250px;*/
/*    }*/
/*}*/
/*@media (max-width: 1024px) {*/
/*    .imgPlaylist {*/
/*        width: 250px;*/
/*        height: 250px;*/
/*    }*/
/*    .backgroundPlaylistText {*/
/*        height: 250px;*/
/*    }*/
/*    .backgroundPlaylistText > p {*/
/*        font-size: 0.5rem;*/
/*    }*/
/*}*/


